.navImage {
    width: 150px;
    height: 50px;
}
.navImage2 {
    width: 150px;
    height: 50px;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 20px;
  justify-content: space-between;
  border-bottom: solid lightgrey;
}